.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #7f8c8d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.item {
  width: 150px;
  height: 300px;
  border: black solid 2px;
  border-radius: 10px;
  margin: 5px;
  padding-top: 20px;
  overflow: hidden;
}

.foto {
  border-radius: 10px;
}

.data {
  margin: 5px;
  margin-bottom: 10px;
}
